 #navbar ul          
 {
     margin: 0;         
     padding: 5px;         
     list-style-type: none;         
     text-align: left;        
     background-color: #333;         
 }  
 
 #navbar ul li           
 {
     display: inline;         
 }  
 
 #navbar ul li a          
 {
     text-decoration: none;         
     padding: .2em 1em;         
     color: #fff;         
     background-color: #333;         
     }  
     
#navbar ul li a:hover          
{
    color: #000;         
    background-color: #fff;         
}
body
{
background-image:url('../background.jpg');
} 
h1 {text-align:center;}
h2 {text-align:center;font-family:"quartz ms" }
h3{text-align:right;font-family:"quartz ms"}
p.one{border-style:outset;border-width:5px;}

 

